<!-- Begin masterTray Template -->
<script id="masterTrayTemplate" type="text/x-jsrender">
	<div>{{:#index+1}}: <b>{{>id}}</b><b>{{>label}}</b></div>
</script>
<!-- End masterTray Template -->
<div id="gkitchenHome">
	<h1>Kitchen</h1>
	<div id="deploySpace"></div>
</div>