#footer{
	margin-top: 40%;
}

#supportingText{
	margin-top: 10px;
	min-height: 300px;
	padding-left: 0px;
	padding-right: 0px;
}

.gkitchenform {
	
}

.gkitchenform legend {
	font-weight: bold;
	font-size: 14px;
}

.gkitchenform fieldset {
	border-style: dotted;
	background-color: #ffd7c4;
}

.noticebox {
	color: #FF0000;
	background-color: #99CC66;
	margin-top: 5px;
	text-decoration: blink;
}

/* gkitchen home */
#gkitchenHome {
	
}

#gkitchenHome h1 {
	padding: 5px;
}
