<%=jqgrid_javascripts%>
<%=jqgrid_stylesheets "gkitchen-theme"%> 


<h1>Gingredients</h1>
<%=raw jqgrid("Gingredients", "jqIngredients", "/gkitchen/gingredients/index", 
	[ 
  		{ :field => "id", :label => "id",:width=>'30' },  
  		{ :field => "api_name", :label => "name" } 
  	] , 
  	{
  		:autowidth=>true,
  	} 
  ) %>
