<div id="lselect">
	<h3><span>Menu:</span></h3>
	<ul>
		<li><%= link_to "New Gingredient","/gkitchen/gingredients/new" %></li>
		<li><%= link_to "Logout","/gkitchen/logout",html_options={:confirm=>'Are you sure?'} %></li>
	</ul>
</div>